@model BRAV.Models.StudentViewModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form id="formCreate"
              name="formCreate"
              method="post"
              data-ajax-url="Student/Create"
              data-ajax="true"
              data-ajax-method="post"
              data-ajax-begin="onBegin"
              data-ajax-success="onSuccess"
              data-ajax-failure="onFailure"
              data-ajax-complete="onComplete"
              data-ajax-loading=".modal-spinner">

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">Create</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>
